<html>
    <head>
        <title>Crack The Shell</title>
        <script src="/static/jquery.js"></script>
        <link rel="stylesheet" href="/static/base.css">
    </head>
    <body>
        <ul>
            <li><a href="/index">Home<a/></li>
            <li><a href="/set_ques">Set Questions<a/></li>
            <li><a href="/play">play<a/></li>
        </ul>
        <hr>
        {% with msgs = get_flashed_messages() %}
        {% if msgs %}
        <ul>
        {% for msg in msgs %}
          <li> {{ msg }} </li>
        {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}



        {% block content %}{% endblock %}
    </body>
</html>

